@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center pt-2 pb-5">Pacchetti Viaggio disponibili</h1>

<div class="d-flex w-25 py-5 mx-auto">
    <input id="search-input" class="form-control me-2" type="text" placeholder="Cerca un pacchetto-viaggi" aria-label="Search">
</div>

<div class="container-fluid" id="content-container"></div>

<script type="text/javascript">
    
    const contentContainer = document.getElementById("content-container");

    getPackage();

    timeoutId = undefined;

    const searchInp = document.getElementById("search-input");
    searchInp.addEventListener("keyup", function () {
        timeoutId = clearTimeout(timeoutId);
        timeoutId = setTimeout(getPackage, 2000, this.value);
    });

    searchInp.addEventListener("keydown", function () {
        timeoutId = clearTimeout(timeoutId);
    });

    function getPackage(searchKey = "") {
        axios.get("/api/travelpackage/get", {
            params: {
                searchKey: searchKey
            }
        })
            .then(resp => {
                console.log(resp.data);

                contentContainer.innerHTML = "";

                const list = document.createElement("ul");
                list.setAttribute("class", "list-group flex-row flex-wrap ms-5");

                const data = resp.data;

                data.forEach(pack => {
                    const listItem = document.createElement("li");
                    listItem.setAttribute("class", "card my-3 me-3 ms_card");
                    const anchorTag = document.createElement("a");
                    anchorTag.setAttribute("class", "text-decoration-none");
                    anchorTag.setAttribute("href", `/Home/Details/${pack.id}`);
                    anchorTag.style.color = "inherit";
                    const cardImg = document.createElement("img");
                    cardImg.setAttribute("src", pack.cover);
                    cardImg.setAttribute("class", "card-img-top");
                    const cardBody = document.createElement("div");
                    cardBody.setAttribute("class", "card-body");
                    const cardTitle = document.createElement("h2");
                    cardTitle.setAttribute("class", "card-title");
                    const cardDesc = document.createElement("p");
                    cardDesc.setAttribute("class", "card-text pt-3");
                    const cardPrice = document.createElement("span");
                    cardPrice.setAttribute("class", "d-block pb-3");
                    const cardInfo = document.createElement("span");
                    cardInfo.innerHTML += `${pack.durationInDays} giorni | ${pack.destinations.length} `;
                    pack.destinations.length > 1 ? cardInfo.innerHTML += "destinazioni" : cardInfo.innerHTML += "destinazione";
                    cardTitle.innerHTML += `Pacchetto ${pack.title}`;
                    cardDesc.innerHTML += `${pack.description}`;
                    cardPrice.innerHTML += `Prezzo: € ${pack.price}`;
                    cardBody.append(cardTitle);
                    cardBody.append(cardDesc);
                    cardBody.append(cardPrice);
                    cardBody.append(cardInfo);
                    anchorTag.append(cardImg);
                    anchorTag.append(cardBody);
                    listItem.append(anchorTag);
                    list.append(listItem);
                })
                contentContainer.append(list);
            })
            .catch(err => {
                console.log(err);
            })
    }
</script>
