html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.ms_align-normal {
    align-items: normal !important;
}

.ms_card {
    width: 23rem;
}

.ms_card img {
    height: 15rem;
}